form {
  margin-bottom: 2rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 2rem 0;
}

legend {
  font-weight: var(--font-bold);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.selectedActivities {
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 6px;
  border: 1px solid var(--light-purple);
  min-height: 75px;
  box-sizing: border-box; 
}